element.style {

}

nav {
  display: flow-root;
}

header {
  text-emphasis-color: #0029F5;
  text-align: left;
  text-decoration: dashed;
  text-decoration: antiquewhite;
  font-size: 20px;
  font-family: Verdana;
}

body {
  background: #D9CACC;
  font-family: Geneva; 
  background-color: #D9CACC;
  border-style: groove;
  border-color: #f0203d;
  border-width: 3em;
  text-align: center; 
  margin: auto;
  padding: 20%;
}
h1   {
  font-size: 20px;
  font-family: Verdana;
  color: #0029F5;}
p    {
  font-family: Tahoma;
  font-size: 16px;
  color: #f0203d;}
h2{
  font-size: 20px;
  font-family: Verdana;
  color: crimson;}
  h3{
  font-size: 20px;
  font-family: Verdana;
  color: crimson;
  }







