element.style {

}

nav {
  display: flow-root;
}

header {
  text-emphasis-color: crimson;
  text-align: left;
  text-decoration: dashed;
  text-decoration: antiquewhite;
  font-size: 20px;
  font-family: Verdana;
}

body {
  background: #efefef;
  font-family: Geneva; 
  background-color: rgb(16, 11, 88);
  border-style: groove;
  border-color: crimson;
  border-width: 3em;
  text-align: center; 
  margin: auto;
  padding: 20%;
}
h1   {
  font-size: 20px;
  font-family: Verdana;
  color: crimson;}
p    {
  font-family: Tahoma;
  font-size: 16px;
  color: rgb(145, 145, 145);}
h2{
  font-size: 20px;
  font-family: Verdana;
  color: crimson;}
  h3{
  font-size: 20px;
  font-family: Verdana;
  color: crimson;
  }







