element.style {

}

nav {
  font-family: Georgia;
  display: inherit;
  scroll-padding-block: 3em;
}

header {
  border: 10px solid #0C2340;
  text-emphasis-color: #0C238C;
  text-align: center;
  text-decoration: dashed;
  text-decoration: #FFFFFF;
  font-size: 25px;
  font-family: Georgia;
}

body {
  background: #FFFFFF;
  font-family: Georgia; 
  background-color: #FFFFFF;
  border: 50px ridge #BD3039;
  text-align: center; 
  margin: auto;
  padding: 10%;
}
h1   {
  font-size: 20px;
  font-family: Georgia;
  color: #0C238C;}
p    {
  font-family: Geneva;
  font-size: 16px;
  color: #0C2340;}
h2{
  font-size: 20px;
  font-family: Georgia;
  color: #BD3039;}
  h3{
  font-size: 20px;
  font-family: Georgia;
  color: #BD3039;
  }

  .box{
    padding-top: 1rem;
    border: 5px solid #0C2340;
  }
  .box-1 {
    padding-top: 1rem;
    border: 5px solid #BD3039;
}

.box-2{
  padding-top: 1rem;
  border: 5px solid #0C2340;
}

h4 {
  font-size: 20px;
  font-family: Georgia;
  color: #BD3039;
  text-align: left;

}
.baseball-img {
    display: inline;
    width: 20%;
    height: 150px;
    padding-left: 1em;
    padding-right: 1em;
}

.galHeader{
  font-size: 35px;
  font-family: Georgia;
  color: #BD3039;
  text-align: center;
}







